* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f5a05c url("./image/BG\ Shape.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 100vh;
}

.navigation {
    position: relative;
    height: 50px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 80px;
    font-size: 25px;
    font-weight: 800;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 0 50px;
    padding-right: 80px;
}

.nav-items li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.data {
    position: absolute;
    width: 45%;
    padding-top: 10%;
    padding-left: 10%;
    font-family: Roboto;
}

.name {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 60px;
}

.data p {
    font-size: 25px;
    padding-top: 4%;
    padding-left: 5%;
}

.data p .typed {
    line-height: 50px;
    bottom: 50px;
}

.data button {
    background-color: #01847F;
    color: white;
    margin-top: 4%;
    width: 40%;
    padding: 12px 30px;
    border: oldlace;
}

.data button a {
    text-decoration: none;
    color: white;
}

.container .image {
    position: absolute;
    left: 55%;
    top: 15%;
    transform: rotate(6deg);
}